.login{margin-top:100px}
.login h1{color:blue;}
.label1 {color:blue; font-size:20px;}
.signupmodal{margin-left:200px; margin-top:150px;}
.signupmodalheight{height:600px; background-color: white;}
#signupheading{color:blue;}